<% @contact_group ||= ContactGroup.new %>
<%= form_for @contact_group, html: { multipart: true } do |f| %>
  <% if @contact_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_group.errors.count, "error") %> prohibited this contact_group from being saved:</h2>

      <ul>
      <% @contact_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Upload a CSV file to import contacts so you can text them.</p>
  <p>CSV must have headers "Name" and "Phone"... everything else will be ignored.</p>
  <p>Example:</p>
  <pre>
    Name,Phone
    "bob","+14155551212"
  </pre>
  <p>There's a sample file in data/sample.csv</p>

  <div class="field form-group">
    <%= file_field_tag :file %>
  </div>

  <div class="field form-group">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>

  <%= submit_tag "Import" %>
<% end %>
