<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact_group.user_id %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @contact_group.group_name %>
</p>

<%= render 'contacts/index' %>

<%= link_to 'Edit', edit_contact_group_path(@contact_group) %> |
<%= link_to 'Back', contact_groups_path %>
