<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.email %>
</p>

<% unless @user.can_twilio? %>
  <p>Looks like you need to
    <%= link_to "enter your Twilio information!", edit_user_path(@user) %>
    </p>
<% else %>
  <% unless @contact_groups.empty? %>
    <h2>Contact Groups</h2>
    <%= render 'contact_groups/index' %>
  <% end %>

  <h2>Upload more contacts</h2>
  <%= render 'contact_groups/form' %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
