<h1>Twlio Test</h1>
<%= form_tag '/', method: :get do %>
  <p>
    <%= text_field_tag 'phone_number', '+14154055410' %>
  </p>
  <p>
    <%= text_field_tag 'message', 'test' %>
  </p>
  <p>
    <%= submit_tag %>
  </p>
<% end %>
<hr/>
<%= form_tag send_message_home_index_path do %>
  <p>
    User ID
    <%= text_field_tag 'user_id', params[:user_id] || User.first.try(:id) %>
  </p>
  <p>
    Group
    <%= text_field_tag 'group', params[:group] || User.first.contacts.first.group %>
  </p>
  <p>
    Message
    <%= text_area_tag 'message', 'Test message' %>
  </p>
  <p>
    <%= submit_tag :send %>
  </p>
  <p>
    <%= submit_tag :estimate %>
  </p>
<% end %>
